<div class="tabbar" #menu>
  <div class="tabbar--front">
    <button class="tabbar--button" id="boton">
      <div class="icon">
        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
          <line x1='256' y1='112' x2='256' y2='400' />
          <line x1='400' y1='256' x2='112' y2='256' />
        </svg>
      </div>
    </button>
    <div class="options">
      <div class="options__wrapper">
        <span >
          <mat-icon [routerLink]="['']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-label="home icon" fontIcon="home" ></mat-icon>
        </span>
        <span >
          <mat-icon [routerLink]="['formacion']"  routerLinkActive="active" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon [routerLink]="['/test']"  routerLinkActive="active" id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
        <span>
          <mat-icon id="homeButton" aria-label="home icon" fontIcon="home"></mat-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="tabbar--back">
    <button></button>
    <div class="options"></div>
  </div>
</div>




<svg class="goo-filter" style="position: absolute; transform: translateX(-100%); pointer-events: none; user-select: none;" viewbox="0 0 1 1">
  <filter id="goo">
    <feGaussianBlur in="SourceGrapgic" stdDeviation="10" result="blur" />
    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0
																	  0 1 0 0 0
																	  0 0 1 0 0
																	  0 0 0 40 -10" result="goo" />
    <feBlend in="SourceGraphic" in2="goo" />
  </filter>
</svg>
