<router-outlet></router-outlet>
<app-menu></app-menu>

<!--<button mat-raised-button color="primary">PULSAME</button>-->

<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu" >-->
<!--  <button mat-menu-item color="primary">Item 1</button>-->
<!--  <button mat-menu-item color="primary">Item 2</button>-->
<!--</mat-menu>-->

<!--<mat-icon class="buttonUp" aria-label="arrow_upward icon" fontIcon="arrow_upward"></mat-icon>-->

<!--<mat-icon class="dragableIcon" aria-label="drag_indicator icon" fontIcon="drag_indicator"></mat-icon>-->

<!--<button mat-raised-button class="buttonMenu">Open Menu</button>-->






