#apartadoGeneral{
  width: 90%;
  height: 75vh;
  overflow-wrap: break-word;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.listaFormacion{
  display: flex;
  flex-direction: column;
}

.listaFormacion div, .listaLaboral{
  display: flex;
  flex-direction: row;
  align-items: center;
}


#apartadoGeneral p{
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 1.5em;
  margin-left: 1vw;
  margin-right: 1vw;

  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

#apartadoGeneral mat-icon{
  text-align: justify;
  text-justify: inter-ideograph;
  font-size: 1.5em;
  margin-left: 1vw;
  margin-right: 1vw;
  overflow: visible;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


#apartadoGeneral h1{
  text-align: center;
}

.highlight{
  text-decoration: underline red;
}

p:has(> .centeringHighlight){
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;


}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #432caf;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #432caf;

}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

button{
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading{
  width: 99%;
  display: flex;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.more {
  max-width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background: #432caf;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black,
  -2px -2px 0 black,
  -2px 2px 0 black,
  2px -2px 0 black;
  transition: 500ms ease-in-out;
}

.more:hover {
  box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.more:focus {
  outline: none;
}

.imagenSlider{
  max-height: 100px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  filter: drop-shadow(1px 1px 1px whitesmoke);
  -webkit-filter: drop-shadow(1px 1px 1px whitesmoke);
}

.slider{
  width: 98%;
  justify-content: center;
}

.slider mat-icon{
  cursor: pointer;
}

.imagenContainer{
  width: 70%;
  justify-content: center;
}

mat-panel-title{
  justify-content: center;
}

mat-expansion-panel-header{
  background-color: #5c38be !important;
}


mat-panel-title{
  color: white !important;
  filter: drop-shadow(1px 1px 1px black);
  -webkit-filter: drop-shadow(1px 1px 1px black);
}

mat-expansion-panel:nth-child(1){
  border-bottom: #1B1B1B 1px solid;
}

.listaProyectos{
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;

}

.proyecto{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-width: 33%;
  align-items: center;
  /*No se adapta sin este borde blanco*/
  border: 1px solid white;
  overflow: hidden;
  flex: 1;
  cursor: pointer;

}

.proyecto img{
  max-width: 200px;
  max-height: 200px;
}

#clickProyecto{
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controlesProyectos{
  max-width: 100%;
  height: fit-content;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#controlesProyectos mat-icon{
  cursor: pointer;
  margin: 0;
}

#paginacion{
  font-size: 0.75em;
  position: relative;
  right: 0;
}

.backdropBackground {
  background-color: rgba(0, 0, 0, 0.3);

}
